html {
    box-sizing: border-box;
    background: url("https://images.unsplash.com/photo-1473093295043-cdd812d0e601?auto=format&fit=crop&w=750&q=80") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backround-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {box-sizing: inherit; }

svg {
    fill: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 2px;
    border-radius: 50%;
    width: 200px;
    margin-bottom: 50px;
}
.wrapper {
    padding: 20px;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin: 0;
    font-weight: 200;
}